SESSION_SECRET=some long random string, e.g., the output of `require('crypto').randomBytes(24).toString('base64')`
GITHUB_CLIENT_ID=from GitHub (https://github.com/settings/applications/new)
GITHUB_CLIENT_SECRET=same place as above
URL=http://127.0.0.1:3000 is fine for local development
GITHUB_USERNAME_WHITELIST=* or comma-separated list
GITHUB_ID_WHITELIST=* or comma-separated list (use https://api.github.com/users/USERNAME and look at the "id" key)
NODE_ENV=this is NOT REQUIRED. If you're developing locally, set to "development", otherwise in prod, omit or set to anything else
